/* RESET */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox] {
  -webkit-appearance:checkbox;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* MAIN */

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.children-container {
  height: 100vh;
}

/* NAV */

nav.navbar.navbar-default {
  border-radius: 0;
  width: 100%;
  margin-bottom: 0; 
}

 /* FOOTER */

.footer {
  height: 60px;
  width: 100%;
  background: lightsalmon;
  position: absolute;
  bottom: 0;
}

.footer-links-list {
  margin: 0 auto;
  list-style: none;
  list-style-type: none; 
}

.footer-links-list > li {
  padding: 0 20px; 
}

/* HOME */

.home-container {
  min-width: 600px;
  height: 900px;
}

.home-container img {
  width: 200px;
  height: auto; 
}

.home-content {
  display: flex;
  height: inherit; 
}

.home-content .col-1 {
  width: 33%;
}

.home-content .col-2 {
  width: 66%;
}

.home-content > div {
  height: inherit; 
}

.home-content .row-1 {
  background: orchid;
}

.home-content .row-2 {
  background: lightcoral;
}

.feature-icons {
  font-size: 48px;
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
}

.feature-icons > li {
  padding: 10px;
}

/* ARTICLE */

article.content-container {
  height: 100%;
}
