// CONSTANTS
$color1: #D8D8D8;
$color2: #F3B61F;
$color3: #A29F15;
$color4: #510D0A;
$color5: #191102;

// MAIN

.row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.app-container, .children-container {
}

// NAV

nav.navbar.navbar-default {
  border-radius: 0;
  width: 100%;
  background: $color1 !important;
  margin-bottom: 0;
}

// FOOTER

.footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $color4;
  color: $color5;
}

.footer-links-list {
  margin: 0 auto;
  list-style: none;
  list-style-type: none;
}

.footer-links-list > li {
  padding: 0 20px;
}

// HOME

.home-container {
  height: 90vh !important;
}

.home-content {
  display: flex;
  height: inherit;
}

.home-content .col-1 {
  background: $color2;
  flex-grow: 1;
}

.home-content .col-2 {
  background: $color3;
  flex-grow: 2;
}

.home-content > div {
  height: inherit;
}