/* RESET */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox] {
  -webkit-appearance:checkbox;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* MAIN */

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  min-width: 100vh;
  width: 100%;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}

.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAV */

nav.nav-container {
  height: 60px;
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 3em;
}

.nav-right {
  margin-right: 3em;
}

.nav-links-list li {
  margin-left: 20px;
  font-size: 14px;
}

nav .active {
  text-decoration: underline;
}

 /* FOOTER */

.footer {
  height: 60px;
  width: 100%;
  background: lightsalmon;
}

.footer-links-list {
  margin: 0 auto;
  list-style: none;
  list-style-type: none;
}

.footer-links-list > li {
  padding: 0 20px; 
}

/* HOME */

.home-container {
  height: 100vh;
  width: 100%;
}

.jumbotron {
  height: 700px;
  background: lightgreen;
}

.jumbotron h1,
.jumbotron h2 {
  color: floralwhite;
  font-family: 'Ubuntu', sans-serif;
}

.jumbotron h1 {
  font-size: 64px;
}

.jumbotron h2 {
  font-size: 36px;
}

.home-container .features {
  background: orchid;
}

.feature-list {
  min-width: 600px;
}

.feature-list-item i {
  font-size: 64px;
}

.feature-list-item {
  padding: 20px;
  flex-grow: 1;
  width: 33%;
  height: 200px;
  text-align: center;
}

.feature-list-item h1 {
  font-size: 24px;
  margin-top: 10px;
}

.feature-list-item p {
  font-size: 14px;
  padding: 10px 30px 0 30px;
}

.feature-list-item a {
  font-size: 14px;
  margin-top: 20px;
}

.feature-list-item {
  margin: 40px 0;
  border-left: 1px solid black;
}

.feature-list-item:first-child {
  border-left: 0;
}

/* ARTICLE */

